.header {
    height: 7rem;
    background-color: var(--color-white-1);
    border-bottom: var(--border-thin);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq-max-width(500px) {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }
}