.overview {
    display: flex;
    border-bottom: var(--border-thin);
    align-items: center;

    &__heading {
        padding: 1.5rem 3rem;

        @include device(phone) {
            padding: 1.25rem 2rem;
        }
    }


    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__location {
        display: flex;
        align-items: center;
    }

    &__icon-star,
    &__icon-location {
        width: 3.5rem;
        height: 2.5rem;
        fill: var(--color-primary);

        @include device(phone) {
            width: 2.8rem;
            height: 2rem;
        }
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        align-self: stretch;
        padding: 0 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include device(phone) {
            padding: 0 1rem;
            margin: 0;
        }
    }

    &__rating-average {
        margin-bottom: -3px;
    }

    &__rating-count {}
}