.overview {
    display: flex;
    border-bottom: 1px solid var(--color-grey-light-2);
    align-items: center;

    &__heading {
        padding: 1.5rem 3rem;
    }


    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__location {
        display: flex;
        align-items: center;
    }

    &__icon-star,
    &__icon-location {
        width: 3.5rem;
        height: 2.5rem;
        fill: var(--color-primary);
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        align-self: stretch;
        padding: 0 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__rating-average {
        margin-bottom: -3px;
    }

    &__rating-count {}
}