body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
}

.header {
    font-size: 1.4rem;
}

.search {
    &__input {
        font-family: inherit;
        font-size: inherit;
    }
}

.user-nav {
    &__notification {
        font-size: .8rem;
    }
}

.side-nav {
    font-size: 1.4rem;

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
    }
}

.legal {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-grey-light-4);
}

.overview {
    &__heading {
        font-size: 3.5rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__location {
        font-size: 2rem;

    }

    &__rating {
        color: var(--color-white-1);

    }

    &__rating-average {
        font-size: 3rem;
        font-weight: 300;
    }

    &__rating-count {
        font-size: 1rem;
        text-transform: uppercase;
    }
}

.btn {
    &-inline {
        font-size: inherit;
    }
}